Repository cnoel490/literate-journey: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/

Cut(eos_cli_config_gen, eos_designs)!: Remove deprecated keys `community_lists`, `flow_tracking.trackers[].exporters[].collector` (#5797)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/community-lists.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/flow-tracking.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/group_vars/TENANTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/flow_tracking_settings.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/community-lists.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/flow-tracking.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/ip-community-lists.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-flow-tracking-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/community-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/filters.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/flow-tracking.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-intended-config.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/community-lists.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/flow-tracking.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/community_lists.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_flow_tracking.schema.yml
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/flow_tracking_settings.schema.yml
Due: schemas, templates

CI: Fix concurrency rules for merge_groups (#5898)
  .github/workflows/pull-request-management.yml
Due: none

Cut(eos_designs)!: Remove deprecated keys from network services data model (#5822)
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/group_vars/TENANTS.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-port-channel-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/svi-profiles.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_static_routes.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/ipv6_static_routes.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/static_routes.py
  python-avd/tests/schema_tools/artifacts/DC1-BL1A.json
  python-avd/tests/schema_tools/artifacts/README.md
  python-avd/tests/schema_tools/artifacts/eos_designs.schema.yml
Due: schemas

Feat(eos_cli_config_gen)!: Add support to set interval for each recovery cause in errdisable (#5496)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/errdisable.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/errdisable.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/errdisable.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/errdisable.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/errdisable.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/errdisable.schema.yml
Due: schemas, templates

Refactor: Rust: Remove unused generic in coercion (#5893)
  rust/validation/src/coercion.rs
Due: none

Doc: Removing unused features (#5870)
  mkdocs.yml
Due: none

Refactor: Correct AVD meta schema location (#5902)
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_aaa_methods.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/defs_bgp_additional_paths.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/kernel.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/monitor_session_default_encapsulation_gre.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/aaa_settings.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/inband_ztp_bootstrap_file.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_isis_authentication_key.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_isis_authentication_mode.schema.yml
Due: schemas

Cut(eos_designs)!: Remove deprecated key `design` (#5818)
  .pre-commit-config.yaml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/node_type.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-tags.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/design.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-point-to-point-services-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-keys.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/design.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/node_type_keys.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/node_type_keys.py
  python-avd/pyavd/_schema/utils.py
Due: schemas

Cut(eos_cli_config_gen)!: Remove the logic for counter creation under traffic-policies.j2 (#5851)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/traffic-policies.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/traffic-policies.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/traffic-policies.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/traffic_policies.schema.yml
Due: schemas, templates

Doc: Fixing broken links (#5903)
  .github/workflows/offline-links-check.yml
  docs/contribution/authoring_eos_cli_config_gen.md
  docs/getting-started/avd-aap.md
Due: none

Refactor(eos_designs)!: Network services enhance guards for OSPF (#5707)
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ospf-enabled-on-svi-not-on-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/underlay-ospf-process-id-is-same-as-ospf-process-id-under-vrf.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/underlay-ospf-process-id-same-as-ospf-process-id-with-vrf-default.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/underlay-ospf-process-id-same-as-ospf-process-id-with-vrf-default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/underlay-ospf-process-id-same-as-ospf-process-id-with-vrf-default.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_ospf.py
Due: none

Refactor(eos_cli_config_gen, eos_designs)!: Make the type key as required for aaa_accounting (#5881)
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/aaa-accounting.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/aaa-accounting.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/aaa-accounting.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/aaa_accounting.schema.yml
Due: schemas, templates

Cut(eos_designs)!: Removed the deprecated key overlay_loopback_description (#5842)
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host2/overlay_loopback_description.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/overlay-settings.md
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/loopback_interfaces/overlay-loopback.j2
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/overlay_loopback_description.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/underlay/loopback_interfaces.py
  python-avd/pyavd/api/interface_descriptions/__init__.py
Due: schemas

Refactor(pyavd)!: Remove keep_extra_keys option for custom keys in AVD inputs (#5877)
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_template_output_false.yml
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/tests/test_with_template_output_true.yml
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_schema/avddataconverter.py
  python-avd/pyavd/_schema/models/avd_model.py
  python-avd/pyavd/_schema/models/eos_cli_config_gen_root_model.py
  python-avd/pyavd/_schema/models/eos_designs_root_model.py
Due: none

Feat(eos_designs): Added support for IPv6 ND prefix support for SVIs (#5873)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-LEAF2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/evpn_services_l2_only_false.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-LEAF2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/evpn_services_l2_only_false.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_D.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-svis-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/svi-profiles.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/network_services/vlan_interfaces.py
Due: schemas

Refactor(eos_designs)!: Changed the default behavior of underlay_ospf_graceful_restart to true (#5914)
  ansible_collections/arista/avd/examples/campus-fabric/group_vars/DC1_SPINES.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/inventory/group_vars/L2LS_OSPF.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CORE_UNIT_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/CV_TOPOLOGY.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/MLAG_OSPF_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_multicast.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/l3_edge_ospf.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/underlay-ospf-process-id-same-as-ospf-process-id-with-vrf-default.yml
  ansible_collections/arista/avd/molecule/evpn_underlay_ospf_overlay_ebgp/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/ospf-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/underlay_ospf_graceful_restart.schema.yml
Due: schemas

Doc: Remove eos_config_deploy_cvp from examples (#5868)
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/README.md
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/build.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/deploy-cvp.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/deploy.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/inventory.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/README.md
  ansible_collections/arista/avd/examples/single-dc-l3ls/build.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/deploy-cvp.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/deploy.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/inventory.yml
  ansible_collections/arista/avd/examples/single-dc-l3ls/inventory_without_ip.yml
Due: none

Cut(eos_designs)!: Remove deprecated key local_users (#5917)
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/local-users.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/local_users.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
Due: schemas

Feat(eos_designs): Add support to use regex for network services `bgp_peers.nodes` (#5747)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL1B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2A.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/DC1-BL2B.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL1B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/DC1-BL2B.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/DC1_TENANTS_NETWORKS/Tenant_C.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-bgp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/filtered_tenants.py
  python-avd/pyavd/_eos_designs/structured_config/network_services/router_bgp.py
Due: schemas

Cut(eos_designs)!: Removed the deprecated keys from def_node_type (#5838)
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host3.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host1.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host2.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host3.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host4.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host1/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host3/snmp-settings-avd-6-behavior.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host4/node_type.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/group_vars/FABRIC_UPLINK_STRUCTURED_CONFIG_WITH_NEW_KEYS.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-uplink-configuration.md
  docs/contribution/eos_designs_facts_internal/tables/eos_designs_facts.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/eos_designs_facts.schema.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/protocol.py
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_node_type.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/node_config.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/ethernet_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/port_channel_interfaces.py
  python-avd/pyavd/_eos_designs/structured_config/underlay/utils.py
Due: schemas

Cut(eos_cli_config_gen)!: Remove deprecated keys from port channel interfaces (#5819)
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc2-leaf3b.arista.com.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/host_vars/dc2-leaf3a.arista.com.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/host_vars/dc2-leaf3b.arista.com.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/.gitkeep
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/is_deployed.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host1/port-channel-interfaces.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/port-channel-interfaces.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/ethernet-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/port-channel-interfaces.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/port_channel_interfaces.schema.yml
Due: schemas, templates

Bump: Pre-release 6.0.0-dev1 (#5919)
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.txt
  python-avd/pyavd/__init__.py
Due: none

Feat(eos_cli_config_gen): Add `ssm_range` under router pim sparse VRFs (#5910)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/router-pim-sparse-mode.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/router-pim-sparse-mode.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/router-pim-sparse-mode.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/router-pim-sparse-mode.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/router-pim-sparse-mode.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/router_pim_sparse_mode.schema.yml
Due: schemas, templates

Refactor(eos_designs)!: Added min_length for network_ports switches (#5920)
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-ports.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/network_ports.schema.yml
Due: schemas

Cut(eos_designs)!: Remove the default templates from ansible_collections/arista/avd/roles/eos_designs/templates (#5915)
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/custom_templates/ip_addressing/avd-v2-spine-p2p-uplinks-ip.j2
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/custom_templates/ip_addressing/avd-v2-spine-p2p-uplinks-peer-ip.j2
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TWODC_5STAGE_CLOS.yml
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/connected_endpoints/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/connected_endpoints/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/loopback_interfaces/overlay-loopback.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/loopback_interfaces/vtep-loopback.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/mlag/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/mlag/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/underlay/ethernet-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/interface_descriptions/underlay/port-channel-interfaces.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-ibgp-peering-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-ibgp-peering-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-l3-ip-primary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/mlag-l3-ip-secondary.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/p2p-uplinks-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/p2p-uplinks-peer-ip.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/router-id-ipv6.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/router-id.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/vtep-ip-mlag.j2
  ansible_collections/arista/avd/roles/eos_designs/templates/ip_addressing/vtep-ip.j2
  docs/porting-guides/6.x.x.md
Due: none

Bump: Add cryptography>=43.0.0 as a direct requirement of pyavd (#5939)
  .pre-commit-config.yaml
  ansible_collections/arista/avd/requirements-dev.txt
  docs/release-notes/6.x.x.md
  python-avd/pyavd/_utils/password_utils/password_utils.py
  python-avd/pyproject.toml
Due: none

Cut: Remove the file ansible_collections/arista/avd/collections.yml (#5944)
  ansible_collections/arista/avd/collections.yml
  ansible_collections/arista/avd/galaxy.yml
Due: none

Cut!: Remove inventory_to_container module (#5938)
  .github/labeler.yml
  ansible_collections/arista/avd/meta/runtime.yml
  ansible_collections/arista/avd/plugins/action/inventory_to_container.py
  ansible_collections/arista/avd/plugins/modules/inventory_to_container.py
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/aliases
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/defaults/main.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tasks/main.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tasks/test.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_with_all_parameters.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_with_device_filter_as_string.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_with_device_filter_empty_string.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_configlet_dir.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_configlet_prefix.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_container_root.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_device_filter.yml
  ansible_collections/arista/avd/tests/integration/targets/inventory_to_container/tests/test_without_inventory.yml
  ansible_collections/arista/avd/tests/sanity/ignore-2.15.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.16.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.17.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.18.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.19.txt
  ansible_collections/arista/avd/tests/sanity/ignore-2.20.txt
  ansible_collections/arista/avd/tests/unit/modules/test_inventory_to_container.py
  docs/plugins/Modules_and_action_plugins/inventory_to_container.md
  docs/porting-guides/6.x.x.md
  docs/release-notes/6.x.x.md
  docs/versioning/semantic-versioning.md
Due: docs-plugin-modules
