Repository cnoel490/literate-journey: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-plugin-modules, docs-plugin-filter, docs-plugin-lookup, docs-plugin-test, docs-plugin-vars, schemas, templates

docs-plugin-modules:
  name: Build documentation for collection modules and action plugins.
  entry: ansible-doc-extractor --template docs/templates/plugin-docs.j2 --markdown "docs/plugins/Modules_and_action_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  - ansible-core>=2.16.0,<2.19.0

docs-plugin-filter:
  name: Build documentation for collection filter plugins.
  entry: ansible-doc-extractor --template docs/templates/plugin-docs.j2 --markdown "docs/plugins/Filter_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  - ansible-core>=2.16.0,<2.19.0

docs-plugin-lookup:
  name: Build documentation for collection lookup plugins.
  entry: ansible-doc-extractor --template docs/templates/plugin-docs.j2 --markdown "docs/plugins/Lookup_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  - ansible-core>=2.16.0,<2.19.0

docs-plugin-test:
  name: Build documentation for collection test plugins.
  entry: ansible-doc-extractor --template docs/templates/plugin-docs.j2 --markdown "docs/plugins/Test_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  - ansible-core>=2.16.0,<2.19.0

docs-plugin-vars:
  name: Build documentation for collection var plugins.
  entry: ansible-doc-extractor --template docs/templates/plugin-docs.j2 --markdown "docs/plugins/Vars_plugins/"
  language: python
  additional_dependencies:
  - ansible-doc-extractor>=0.1.10
  - ansible-core>=2.16.0,<2.19.0

schemas:
  name: Build AVD schemas and documentation.
  entry: sh -c 'exec python-avd/scripts/build_schemas.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - deepmerge>=1.1.0
  - PyYAML>=6.0.0
  - pydantic>=2.3.0
  - jsonschema-rs>=0.24
  - referencing>=0.35.0
  - ruff==0.7.2

templates:
  name: Precompile Jinja2 templates
  entry: sh -c 'python-avd/scripts/compile_templates.py'
  language: python
  pass_filenames: false
  additional_dependencies:
  - Jinja2>=3.0.0
  - cryptography>=38.0.4
  - deepmerge>=1.1.0

CI: Fixing PyRight issue in github action (#5933)
  .github/workflows/pull-request-management.yml
  docs/contribution/eos_designs_facts_internal/tables/eos_designs_facts.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/eos_designs_facts.schema.yml
  python-avd/pyavd/_eos_designs/eos_designs_facts/schema/protocol.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
Due: none

Refactor(eos_designs): Make id primary_key for message_digest_keys in OSPF (#5946)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/network-services-l3-port-channels.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/network-services-l3-port-channels.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-interfaces-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-l3-port-channel-settings.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/network-services-vrfs-ospf-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_network_services.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_svi_settings.schema.yml
Due: schemas

Cut!: Remove arista.cvp from collection requirements (#5943)
  .github/workflows/pull-request-management.yml
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.yml
  docs/release-notes/6.x.x.md
  docs/support/support_overview.md
Due: none

Refactor(eos_designs)!: Changed the default value of default_evpn_role and default_overlay_routing_protocol for wan_router and wan_rr node type (#5924)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/ebgp-overlay-address-families-vpn-ipv4.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cloudvision-tags.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/node-type-keys.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/node_type_keys.schema.yml
Due: schemas

Test: Include `schema_tools` in pytest coverage report (#5956)
  python-avd/pyproject.toml
Due: none

Cut(eos_cli_config_gen)!: Removed the is_deployed key (#5934)
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-spine1.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/allow_bgp_vrfs_run/dc1-spine2.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-spine1.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/default_run/dc1-spine2.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-spine1.json
  ansible_collections/arista/avd/molecule/anta_runner/anta/avd_catalogs/filtered_run/dc1-spine2.json
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc1-leaf3a.yml
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc1-spine1.yml
  ansible_collections/arista/avd/molecule/anta_runner/intended/structured_configs/dc1-spine2.yml
  ansible_collections/arista/avd/molecule/anta_runner/inventory/hosts.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/host_vars/host3/is_deployed.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen_deprecated_vars/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/is-deployed.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/is_deployed.schema.yml
Due: schemas

Feat(eos_designs): Allow to customise SNMP Location using snmp_settings.location_template (#5927)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SNMP_SYSTEM_MAC_ENGINEID_1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/SNMP_SYSTEM_MAC_ENGINEID_2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_SYSTEM_MAC_ENGINEID_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_SYSTEM_MAC_ENGINEID_2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_SYSTEM_MAC_ENGINEID_1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/host_vars/SNMP_SYSTEM_MAC_ENGINEID_2.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-snmp-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/snmp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/snmp_server.py
Due: schemas

Cut!: Remove unused python requirements following ansible-cvp removal (#5945)
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements-dev.txt
  docs/release-notes/6.x.x.md
  python-avd/pyproject.toml
Due: none

Cut(eos_designs)!: Remove the deprecated keys from defs_p2p_links schema (#5921)
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/configs/host4.cfg
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/intended/structured_configs/host4.yml
  ansible_collections/arista/avd/molecule/eos_designs_deprecated_vars/inventory/host_vars/host4/l3edge.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: schemas

Cut!: Remove ansible.utils collection from arista.avd Ansible collection requirements (#5958)
  ansible_collections/arista/avd/galaxy.yml
  ansible_collections/arista/avd/requirements.yml
  docs/porting-guides/6.x.x.md
  docs/release-notes/6.x.x.md
Due: none

Fix: Update molecule to avoid dash in ansible group names (#5966)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/isis-cleartext-keys-leaf1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/isis-cleartext-keys-leaf2.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/isis-cleartext-keys-leaf1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/isis-cleartext-keys-leaf2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/ISIS_CLEARTEXT_KEYS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
Due: none

Refactor(eos_designs): p2p_links list keys `nodes`, `ip`, `interfaces` and `descriptions` accepts a minimum and maximum of two entries (#5970)
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-p2p-links-more-than-2-nodes.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-ptp-profile-does-not-exist.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/core-interfaces.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/l3-edge.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/defs_p2p_links.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/core_interfaces_and_l3_edge/utils.py
Due: schemas

Feat(cv_deploy): Proxy support (#5806)
  ansible_collections/arista/avd/molecule/cv_deploy/cc_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cleanup.yml
  ansible_collections/arista/avd/molecule/cv_deploy/cv_deploy.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/duplicated_devices_strict_system_mac.yml
  ansible_collections/arista/avd/molecule/cv_deploy/invalid_config.yml
  ansible_collections/arista/avd/molecule/cv_deploy/no_duplicated_devices.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_false.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_force_true.yml
  ansible_collections/arista/avd/molecule/cv_deploy/workspace_pending.yml
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/plugins/modules/cv_workflow.py
  ansible_collections/arista/avd/roles/cv_deploy/README.md
  ansible_collections/arista/avd/roles/cv_deploy/defaults/main/main.yml
  ansible_collections/arista/avd/roles/cv_deploy/tasks/main.yml
  docs/plugins/Modules_and_action_plugins/cv_workflow.md
  python-avd/pyavd/_cv/client/__init__.py
  python-avd/pyavd/_cv/client/proxy.py
  python-avd/pyavd/_cv/workflows/deploy_to_cv.py
  python-avd/pyavd/_cv/workflows/models.py
  python-avd/pyproject.toml
  python-avd/tests/pyavd/cv/client/test_cv_client.py
  python-avd/tests/pyavd/cv/client/test_cv_client_proxy.py
Due: docs-plugin-modules

Fix(cv_deploy): Properly support a custom Change Control name (#5964)
  python-avd/pyavd/_cv/workflows/finalize_change_control_on_cv.py
  python-avd/tests/pyavd/cv/workflows/helpers.py
  python-avd/tests/pyavd/cv/workflows/test_finalize_change_control_on_cv.py
Due: none

Cut(eos_designs)!: Remove support for `switch.*` in templates (#5936)
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/loopbacks/router-id-loopback.j2
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/loopbacks/vtep-loopback.j2
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/interface_descriptions/underlay/ethernet-interfaces.j2
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/ip_addressing/mlag-ibgp-peering-ip-primary.j2
  ansible_collections/arista/avd/molecule/ansible_only/custom_templates/ip_addressing/mlag-ibgp-peering-ip-secondary.j2
  ansible_collections/arista/avd/molecule/ansible_only/inventory/group_vars/DC1_FABRIC.yml
  ansible_collections/arista/avd/molecule/ansible_only/inventory/host_vars/DC1-BL1A.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/custom_modules/custom_ip_addressing.py
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/templates/interface-descriptions/loopbacks/router-id-loopback.j2
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/templates/interface-descriptions/loopbacks/vtep-loopback.j2
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/templates/interface-descriptions/underlay/ethernet-interfaces.j2
  ansible_collections/arista/avd/plugins/action/eos_designs_structured_config.py
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/tests/integration/targets/eos_designs_structured_config/templates/custom_template1.yml.j2
  ansible_collections/arista/avd/tests/inventory/eos_designs_structured_config/expected_output/eos_designs_structured_config_ansible_facts.yml
  docs/contribution/eos_designs_internal_notes.md
  docs/porting-guides/6.x.x.md
  docs/versioning/semantic-versioning.md
  python-avd/pyavd/api/interface_descriptions/__init__.py
  python-avd/pyavd/api/ip_addressing/__init__.py
Due: none

Feat(eos_designs): Add support for regex pattern for platform_settings[].platforms (#5725)
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/configs/7020TX-LEAF1.cfg
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/7020TX-LEAF1.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/group_vars/PLATFORM_SETTINGS_TESTS.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/platform-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/platform_settings.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/platform_mixin.py
Due: schemas

Feat(eos_designs, eos_cli_config_gen): Add Serial number if document in YMLs to Fabric-topology and fabric-p2ps CSV and eos_cli_config_gen documentation (#5929)
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/fabric/FABRIC-p2p-links.csv
  ansible_collections/arista/avd/examples/dual-dc-l3ls/documentation/fabric/FABRIC-topology.csv
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/fabric/FABRIC-p2p-links.csv
  ansible_collections/arista/avd/examples/isis-ldp-ipvpn/documentation/fabric/FABRIC-topology.csv
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/fabric/FABRIC-p2p-links.csv
  ansible_collections/arista/avd/examples/single-dc-l3ls-ipv6/documentation/fabric/FABRIC-topology.csv
  ansible_collections/arista/avd/examples/single-dc-l3ls/documentation/fabric/FABRIC-p2p-links.csv
  ansible_collections/arista/avd/examples/single-dc-l3ls/documentation/fabric/FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/serial_number.yml
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/fabric/L2LS-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs-l2ls/documentation/fabric/L2LS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/fabric/MPLS_CORE-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs-mpls-isis-sr-ldp/documentation/fabric/MPLS_CORE-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/devices/DC1-POD1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/devices/DC1-POD1-SPINE2.md
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-p2p-links.csv
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/documentation/fabric/TWODC_5STAGE_CLOS-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_ebgp_overlay_ebgp/documentation/fabric/DC1_FABRIC-topology.csv
  ansible_collections/arista/avd/molecule/evpn_underlay_rfc5549_overlay_ebgp/documentation/fabric/DC1_FABRIC-p2p-links.csv
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_designs/fabric_documentation_facts/__init__.py
  python-avd/pyavd/get_fabric_documentation.py
Due: templates

Doc: Add new PyAVD python requirement "python-socks[asyncio]" to release notes (#5977)
  docs/release-notes/6.x.x.md
Due: none

Fix(pyavd): Fixing pyright issue for pyavd/_errors (#5983)
  pyproject.toml
  python-avd/pyavd/_errors/__init__.py
Due: none

CI: Add bump-my-version (#5987)
  Cargo.toml
  Makefile
  ansible_collections/arista/avd/requirements-dev.txt
  pyproject.toml
  rust/avdschema/Cargo.toml
  rust/avdschema_macros/Cargo.toml
  rust/included_store/Cargo.toml
  rust/passwords/Cargo.toml
  rust/validation/Cargo.toml
Due: none

Refactor(plugins): Add AvdActionPlugin class with logging config for action plugins (#5615)
  ansible_collections/arista/avd/plugins/action/verify_requirements.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/__init__.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/avd_action_plugin.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/log_config.py
  ansible_collections/arista/avd/plugins/plugin_utils/utils/avd_action_plugin/log_handlers.py
  ansible_collections/arista/avd/tests/unit/action/test_verify_requirements.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/conftest.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_action_plugin_vars.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_anta_workflow_logging.py
  ansible_collections/arista/avd/tests/unit/plugins/plugin_utils/utils/test_avd_action_plugin.py
Due: none

Refactor: Clean-up forgotten is_deployed usage (#5995)
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  docs/release-notes/6.x.x.md
  python-avd/pyavd/api/_anta/minimal_structured_config.py
  python-avd/pyavd/get_device_test_catalog.py
Due: none

CI: Remove ANTA exclusions from Sonar (#5997)
  .github/workflows/pull-request-management.yml
  sonar-project.properties
Due: none

Doc: Fix bad link in PyAVD readme and improve description (#5998)
  python-avd/README.md
Due: none

Feat(eos_cli_config_gen): Add support for vxlan interface shutdown option (#5996)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host1.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/documentation/devices/host2.md
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host1.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/intended/configs/host2.cfg
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/vxlan-interface.yml
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host2/vxlan-interface.yml
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/vxlan-interface.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/documentation/vxlan-interface.j2
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos/vxlan-interface.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/vxlan_interface.schema.yml
Due: schemas, templates

Refactor(eos_designs): Refactor schema and code for ntp_settings (#6008)
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-inband-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-mgmt-ip-ipv6-mgmt-ip.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-valid-ipv4-address-ntp-servers-spine.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ntp-settings-server-vrf-missing-inband-mgmt-interface.yml
  ansible_collections/arista/avd/molecule/eos_designs_negative_unit_tests/inventory/host_vars/ntp-settings-server-vrf-missing-mgmt-ip.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/management-settings.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/ntp_settings.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/ntp.py
Due: schemas

Refactor(eos_cli_config_gen, eos_designs)!: Moved serial_number under metadata (#6006)
  ansible_collections/arista/avd/molecule/eos_cli_config_gen/inventory/host_vars/host1/serial_number.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/digital_twin/intended/structured_configs/DC1-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs-twodc-5stage-clos/intended/structured_configs/DC1-POD1-SPINE2.yml
  ansible_collections/arista/avd/molecule/eos_designs_unit_tests/intended/structured_configs/SNMP_SYSTEM_MAC_ENGINEID_1.yml
  ansible_collections/arista/avd/plugins/action/cv_workflow.py
  ansible_collections/arista/avd/roles/eos_cli_config_gen/docs/tables/metadata.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_cli_config_gen/j2templates/eos-device-documentation.j2
  python-avd/pyavd/_eos_cli_config_gen/schema/__init__.py
  python-avd/pyavd/_eos_cli_config_gen/schema/eos_cli_config_gen.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/metadata.schema.yml
  python-avd/pyavd/_eos_cli_config_gen/schema/schema_fragments/serial_number.schema.yml
  python-avd/pyavd/_eos_designs/structured_config/base/__init__.py
  python-avd/pyavd/_eos_designs/structured_config/metadata/__init__.py
Due: schemas, templates

Refactor(eos_designs)!: Redesign the cv_topology feature based on feedback (#6001)
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/inventory/group_vars/TWODC_5STAGE_CLOS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/inventory/host_vars/DC1-POD1-LEAF2B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/inventory/host_vars/DC1-RS1.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs-twodc-5stage-clos/inventory/host_vars/DC1.POD1.LEAF2A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/converge.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/failure-cv-topology-uplink-switches.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-cv-topology-levels-type.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-cv-topology-levels.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-cv-topology.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/CV-MLAG-OSPF-L3LEAF1A.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/configs/CV-MLAG-OSPF-L3LEAF1B.cfg
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/CV-MLAG-OSPF-L3LEAF1A.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/intended/structured_configs/CV-MLAG-OSPF-L3LEAF1B.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/CV_TOPOLOGY.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/input-variables.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/cv-topology.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/eos_designs_facts/uplinks.py
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_topology.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/cv_topology_levels.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/use_cv_topology.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/cv_topology.py
  python-avd/pyavd/_eos_designs/shared_utils/mgmt.py
  python-avd/pyavd/_eos_designs/shared_utils/misc.py
  python-avd/pyavd/_eos_designs/shared_utils/mlag.py
  python-avd/pyavd/_eos_designs/shared_utils/node_config.py
  python-avd/pyavd/_schema/models/avd_indexed_list.py
Due: schemas

Refactor: Fixing pyright errors for python/avdutils/tests (#5993)
  .pre-commit-config.yaml
  ansible_collections/arista/avd/requirements-dev.txt
  pyproject.toml
  python-avd/pyproject.toml
  python/avdutils/tests/passwords/test_passwords.py
Due: none

Refactor(eos_designs)!: Remove wan_use_evpn_node_settings_for_lan and make it the default behavior (#5985)
  ansible_collections/arista/avd/examples/cv-pathfinder/README.md
  ansible_collections/arista/avd/examples/cv-pathfinder/group_vars/SITE4.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/group_vars/INVALID_DUAL_ROUTER_WAN_EVPN_GW.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/missing-wan-vni-for-vrf-defined-under-wan-virtual-topologies.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/host_vars/wan-unsupported-platform.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_negative_unit_tests/inventory/hosts.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/AUTOVPN_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/CV_PATHFINDER_TESTS.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/group_vars/SITE_EVPN.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/cv-pathfinder-edge-wan-use-evpn-on-lan-no-overlay-on-lan.yml
  ansible_collections/arista/avd/extensions/molecule/eos_designs_unit_tests/inventory/host_vars/ebgp-overlay-address-families-vpn-ipv4.yml
  ansible_collections/arista/avd/roles/eos_designs/docs/how-to/wan.md
  ansible_collections/arista/avd/roles/eos_designs/docs/tables/wan-settings.md
  docs/porting-guides/6.x.x.md
  python-avd/pyavd/_eos_designs/schema/__init__.py
  python-avd/pyavd/_eos_designs/schema/eos_designs.schema.yml
  python-avd/pyavd/_eos_designs/schema/schema_fragments/wan_use_evpn_node_settings_for_lan.schema.yml
  python-avd/pyavd/_eos_designs/shared_utils/node_type.py
  python-avd/pyavd/_eos_designs/shared_utils/overlay.py
  python-avd/pyavd/_eos_designs/shared_utils/routing.py
  python-avd/pyavd/_eos_designs/shared_utils/wan.py
Due: schemas

Path conditions:
  docs-plugin-modules: any of: ansible_collections/arista/avd/plugins/modules/ and \.py$
  docs-plugin-filter: any of: ansible_collections/arista/avd/plugins/filter/ and \.py$, \.(yaml|yml)$ and not (^(ansible_collections/arista/avd/plugins/filter/deprecated_filters.py)$)
  docs-plugin-lookup: any of: ansible_collections/arista/avd/plugins/lookup/ and \.py$
  docs-plugin-test: any of: ansible_collections/arista/avd/plugins/test/ and \.py$
  docs-plugin-vars: any of: ansible_collections/arista/avd/plugins/vars/ and \.py$
  schemas: any of: python-avd/pyavd/[a-z_]+/schema
  templates: any of: python-avd/pyavd/(_eos_cli_config_gen|_eos_designs)/j2templates/
